<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" , type="text/css" href="http://localhost:3001/style/style.css">
    <title>Permition denied !</title>
</head>
<body>
    <div class="w-full h-screen bg-gray-300 flex flex-col items-center justify-center p-2">
        <div class="w-full  bg-white shadow  flex flex-col items-center p-6">
              <h1 class="text-lg font-bold text-red-500 border-b-2 border-red-500 pb-4">Permition denied</h1>
              <p class="w-full text-sm font-bold text-red-500 pt-4">
                 You have complete your 4 atempt. For security region you have blocked for some time .
                 if you see what inside this page check your insta account.
              </p>
              <a href="https://www.instagram.com/" class="w-full">
                <button class="w-full h-10 rounded-lg text-white font-bold mt-6" style="background-color: #E4405F;">Login in instagram</button> 
              </a>
        </div>
    </div>
</body>
</html>